@model BusinessSafe.WebSite.Areas.Responsibilities.ViewModels.ViewResponsibilityTaskViewModel
@using (Html.BeginForm("Complete", "Responsibility", FormMethod.Post, new {id = "ActionTask", @class = "form-inline"}))
{
    <div class="readonly">
        @Html.Partial("_ResponsibilitySummary", Model.ResponsibilitySummary)
        @Html.Partial("_ReadOnlyResponsibilityTaskDetail", Model)
        @Html.Partial("_AttachDocuments", Model.ExistingDocuments)
    </div>

    <script type="text/javascript">
        new SetFormToReadOnly('.readonly').execute();
    </script>
}