<?xml version="1.0" encoding="utf-8" ?>
<StructureMap MementoStyle="Attribute">
  <DefaultInstance PluginType="BusinessSafe.WebSite.Models.BusinessSafeSignOutLinkBaseUrlConfiguration, BusinessSafe.WebSite" PluggedType="BusinessSafe.WebSite.Models.BusinessSafeSignOutLinkBaseUrlConfiguration, BusinessSafe.WebSite">
    <businessSafeSignOutLinkBaseUrlConfigurations>
      <Pair Key="PBS43516" Value="http://login.dev-peninsula-online.com"/>
      <Pair Key="PBS43083" Value="http://login.dev-peninsula-online.com"/>
      <Pair Key="PBS42691" Value="http://login.dev-peninsula-online.com"/>
      <Pair Key="PBS42576" Value="http://login.dev-peninsula-online.com"/>
      <Pair Key="PBS44109" Value="http://login.dev-peninsula-online.com"/>
      <Pair Key="PBSCIHRO1" Value="http://login.dev-peninsula-online.com"/>
      <Pair Key="PBSWEBTEST1" Value="http://login.peninsula-uk.local"/>
      <Pair Key="UATBSOCI1" Value="http://login.dev-peninsula-online.com"/>
      <Pair Key="UATBSO1" Value="http://login.peninsula-uk.local"/>
      <Pair Key="UATBSO2" Value="http://login.peninsula-uk.local"/>
      <Pair Key="PBSBSOSTAGE1" Value="http://stage-login.peninsula-online.com"/>
      <Pair Key="PBSBS01" Value="https://login.peninsula-online.com"/>
      <Pair Key="PBSBS02" Value="https://login.peninsula-online.com"/>
      <Pair Key="PBSBS03" Value="https://login.peninsula-online.com"/>
      <Pair Key="PBSBS04" Value="https://login.peninsula-online.com"/>
      <Pair Key="PBSBS05" Value="https://login.peninsula-online.com"/>
      <Pair Key="PBS43758" Value="http://login.dev-peninsula-online.com"/>
      <Pair Key="PBS43753" Value="http://login.dev-peninsula-online.com"/>
    </businessSafeSignOutLinkBaseUrlConfigurations>
  </DefaultInstance>
</StructureMap>