<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  
	<configSections>
		<sectionGroup name="telerik">
			<section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
		<section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="DBSubscriptionStorageConfig" type="NServiceBus.Config.DBSubscriptionStorageConfig, NServiceBus.NHibernate" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
  </configSections>
	<log4net configSource="Log4Net.config" />
	<DBSubscriptionStorageConfig UpdateSchema="true">
		<NHibernateProperties>
			<add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider" />
			<add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver" />
			<add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=localhost\sql2008r2;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" />
			<add Key="dialect" Value="NHibernate.Dialect.MsSql2005Dialect" />
		</NHibernateProperties>
	</DBSubscriptionStorageConfig>
	<MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="5" />
	<UnicastBusConfig>
		<MessageEndpointMappings>
			<add Messages="BusinessSafe.Messages.Emails" Endpoint="businesssafe.messagehandlers.emails" />
			<add Messages="BusinessSafe.Messages" Endpoint="businesssafe.messagehandlers" />
			<add Messages="Peninsula.Online.Messages" Endpoint="peninsula.online.messagehandlers" />
		</MessageEndpointMappings>
	</UnicastBusConfig>
	<MessageForwardingInCaseOfFaultConfig ErrorQueue="businesssafe.messagehandlers.emails.error" />
  <!--<connectionStrings>
    <remove name="BusinessSafe" />
    <remove name="Peninsula_BusinessSafe" />
    <remove name="BusinessSafe_Intranetadmin" />
    <add name="BusinessSafe" connectionString="Data Source='pbsprod2sql\prod2';Initial Catalog=BusinessSafe;Min Pool Size=2;Max Pool Size=60;Connect Timeout=60;User Id=intranetadmin;Password=intadpas;" providerName="System.Data.SqlClient" />
    <add name="Peninsula_BusinessSafe" connectionString="Data Source='pbsprod2sql\prod2';Initial Catalog=Peninsula_BusinessSafe;Min Pool Size=2;Max Pool Size=60;Connect Timeout=60;User Id=intranetadmin;Password=intadpas;" providerName="System.Data.SqlClient" />
    <add name="BusinessSafe_Intranetadmin" connectionString="Data Source=pbsprod2sql\prod2;Initial Catalog=BusinessSafe;Min Pool Size=2;Max Pool Size=60;Connect Timeout=60;User Id=intranetadmin;Password=intadpas;" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
	<appSettings>
		<!-- FEATURE SWITCHING -->
		<add key="FeatureSwitch_SqlReports_For_PRA" value="true" />
		<add key="FeatureSwitch_SqlReports_For_FRA" value="true" />
		<add key="FeatureSwitch_FireRiskAssessments" value="true" />
		<add key="FeatureSwitch_PersonalRiskAssessments" value="true" />
		<add key="FeatureSwitch_MyReports" value="false" />
    <add key="FeatureSwitch_Responsibilities" value="true" />
    <add key="FeatureSwitch_Responsibilities_Wizard" value="true" />
    <add key="FeatureSwitch_Accident_Reports" value="true" />
    <add key="FeatureSwitch_ActionPlan" value="true" />
    <add key="FeatureSwitch_RequestAVisit" value="false" />
    <add key="FeatureSwitch_ClosedSites" value="false" />
    <add key="FeatureSwitchOverride_UserEmails" value="fre57@outlook.com; gordon.bannatyne@peninsula-uk.com; peter.chukwuka@peninsula-uk.com; linda.howe@peninsula-uk.com; tony.trenear@peninsula-uk.com; gary.armitt@peninsula-uk.com; lucie.rybinova@peninsula-uk.com; paul.davies@peninsula-uk.com; scott.gilhooly@peninsula-uk.com; joanne.teasdale@peninsula-uk.com; vincent.lee@peninsula-uk.com; neil.driscoll@peninsula-uk.com; paul.cooke@peninsula-uk.com;paul_t_d@hotmail.com; test@test.com; qatest1@test.com; natasha.kelly@michaelkors.com; geoffrey.northcott@michaelkors.com; tristan.grace@peninsula-uk.com; ian.smith@peninsula-uk.com; michael.thomson@peninsula-uk.com; garry.mcfadden@peninsula-uk.com; john.mvududu@peninsula-uk.com; gordon.bannatyne@peninsula-uk.com; david.smith@peninsula-uk.com; simon.hopes@peninsula-uk.com; petachud@gmail.com; angharad.trenear@tiscali.co.uk; russell.williams@testing.com" />
    <add key="config_file" value="local" />
		<add key="Version" value="not_set" />
		<add key="webpages:Version" value="1.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ClientDetailsServices.Rest.BaseUrl" value="http://clientdetailsservicesrest/restservice/v1.0/" />
		<add key="RouteDebugger:Enabled" value="false" />
		<add key="BSOGuid" value="68E64A31-FEE8-4D5A-958C-2F2CE3C1BBB1" />
		<add key="DocumentUploadHoldingPath" value="\\pbsw23datastore\DragonDropHoldingPath\" />
		<add key="DocumentTypeService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeDocumentTypeService" />
		<add key="DocumentSubTypeService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeDocumentSubTypeService" />
    <!-- add key="ClientDocumentServiceType" value="BusinessSafe.WebSite.WebsiteMoqs.FakeClientDocumentService" / -->
   
		<add key="StreamingClientDocumentService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeStreamingClientDocumentService" />
		<add key="SQLReportsDomain" value="HQ" />
		<add key="SQLReportsUserName" value="7otxdS1JH0c3j1UZ/01ped8z0c4ebIYoXKhyH7/7xpo=" />
		<add key="SQLReportsPassword" value="UgCTALLPRgm02M3/Ulyy2WlNSTxIX+KZqmDo129w5sc=" />
		<add key="AllowAutoLogin" value="true" />
		<add key="SQLReportsSuffix" value="_UAT" />
    <add key="SqlReportsService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeSqlReportExecutionServiceFacade"/> 
    <add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="true" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
    <add key="NewRelic.AgentEnabled" value="true" />
    <add key="NewRelic.AppName" value="BusinessSafe" />
    <add key="AccidentInvestigationForm.ClientDocumentationId" value="19" />
    <add key="OnlineAccidentReportForm.ClientDocumentationId.GB" value="23" />
    <add key="OnlineAccidentReportForm.ClientDocumentationId.NI" value="24" />
    <add key="OnlineAccidentReportForm.ClientDocumentationId.ROI" value="25" />
    <add key="OnlineAccidentReportForm.ClientDocumentationId.IOM" value="26" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.GB" value="21" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.IoM" value="" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.NI" value="22" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.ROI" value="20" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.Guernsey" value="" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.Jersey" value="" />  
  </appSettings>
	<system.web>
    <machineKey validationKey="241FF35BE3921690EBA492A89CC03719ECF5552D019448C44F8B28B01F546FCDC4AEDCD273380EB45BE8A49AFB9C14FE60BECF0B5ECBA4901C306875FED98DEA" decryptionKey="864559FC58AC5FFB5B9581008552B4A873ACBE86469A81CB" validation="SHA1" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" />
		<customErrors mode="Off" />
		<compilation targetFramework="4.0" debug="true">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms name="PeninsulaOnline" loginUrl="http://login.dev-peninsula-online.com/SignIn/Index" timeout="2880" slidingExpiration="true" domain="dev-peninsula-online.com" />
		</authentication>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionTextAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="Cassette.Views" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
			<add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
		</httpHandlers>
		<httpRuntime maxRequestLength="2147483647" />
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
			<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
		</httpModules>
	</system.web>
	<system.webServer>

    <urlCompression dynamicCompressionBeforeCache="false" />

    <validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
			<add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
		</handlers>
		<modules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
			<add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
		</modules>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<telerik>
		<webAssets useTelerikContentDeliveryNetwork="false" />
	</telerik>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<bindings>
   <basicHttpBinding>
    <binding name="BasicHttpBinding_Default" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_INewRegistrationRequestService"
     closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
     sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
     hostNameComparisonMode="StrongWildcard" maxBufferSize="65536"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_IStreamingDocumentLibraryService"
     closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
     sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
     hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="128" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_IStreamingClientDocumentService"
     closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
     sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
     hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_IDocumentSubTypeService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="ReportExecutionServiceSoap" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
      maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
     <security mode="TransportCredentialOnly">
      <transport clientCredentialType="Ntlm" />
     </security>
    </binding>
   </basicHttpBinding>
   <wsHttpBinding>
    <binding name="DocumentLibraryService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true" />
     </security>
    </binding>
    <binding name="WSHttpBinding_Default" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
     messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
     allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true" />
     </security>
    </binding>
    <binding name="WSHttpBinding_IClientDocumentService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
     messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
     allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true" />
     </security>
    </binding>
    <binding name="WSHttpBinding_IDocumentTypeService" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true" />
     </security>
    </binding>
    <binding name="WSHttpBinding_IClientDocumentService1" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="None">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
    <client>
      <endpoint address="http://uatmaintws1:8056/DocumentLibraryService.svc"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default"
       contract="DocumentLibraryService.IDocumentLibraryService" name="DocumentLibraryService" />
      <endpoint address="http://uatmaintws1:8056/StreamingDocumentLibraryService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default"
       contract="StreamingDocumentLibraryService.IStreamingDocumentLibraryService"
       name="StreamingDocumentLibraryService" />
      <endpoint address="http://uatmaintws1:8064/StreamingClientDocumentService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default"
       contract="StreamingClientDocumentService.IStreamingClientDocumentService"
       name="StreamingClientDocumentServiceClient" />
      <endpoint address="http://uatmaintws1:8064/ClientDocumentService.svc"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default"
       contract="ClientDocumentService.IClientDocumentService" name="ClientDocumentService" />
      <endpoint address="http://uatmaintws1:8064/DocumentTypeService.svc"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default"
       contract="DocumentTypeService.IDocumentTypeService" name="DocumentTypeService" />
      <endpoint address="http://uatmaintws1:8064/DocumentSubTypeService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default"
       contract="DocumentSubTypeService.IDocumentSubTypeService" name="DocumentSubTypeService" />
      <endpoint address="http://pbsreports:80/SQLReports2008/ReportExecution2005.asmx"
       binding="basicHttpBinding" bindingConfiguration="ReportExecutionServiceSoap"
       contract="SqlReportExecutionService.ReportExecutionServiceSoap"
       name="ReportExecutionServiceSoap" />
      <endpoint address="http://localhost:8073/NewRegistrationRequestService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default"
       contract="PeninsulaOnline.INewRegistrationRequestService" name="BasicHttpBinding_INewRegistrationRequestService" />
      <endpoint address="http://uatmaintws1:8064/DocumentSubTypeService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentSubTypeService"
       contract="DocumentSubTypeService.IDocumentSubTypeService" name="BasicHttpBinding_IDocumentSubTypeService" />
      <endpoint address="http://uatmaintws1:8064/DocumentTypeService.svc"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentTypeService"
       contract="DocumentTypeService.IDocumentTypeService" name="WSHttpBinding_IDocumentTypeService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://uatmaintws1:8064/StreamingClientDocumentService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStreamingClientDocumentService"
       contract="StreamingClientDocumentService.IStreamingClientDocumentService"
       name="BasicHttpBinding_IStreamingClientDocumentService" />
      <endpoint address="http://uatmaintws1:8064/ClientDocumentService.svc"
       binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClientDocumentService1"
       contract="ClientDocumentService.IClientDocumentService" name="WSHttpBinding_IClientDocumentService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
	</system.serviceModel>
</configuration>
