<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	
  <DBSubscriptionStorageConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=UATSQL2;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>
	
  <appSettings>
    <add key="DocumentTypeService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeDocumentTypeService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="DocumentSubTypeService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeDocumentSubTypeService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="ClientDocumentServiceType" value="BusinessSafe.WebSite.WebsiteMoqs.FakeClientDocumentService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="StreamingClientDocumentService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeStreamingClientDocumentService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="DocumentTypeService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeDocumentTypeService" xdt:Transform="Insert" />
    <add key="DocumentSubTypeService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeDocumentSubTypeService" xdt:Transform="Insert" />
    <add key="ClientDocumentServiceType" value="BusinessSafe.WebSite.WebsiteMoqs.FakeClientDocumentService" xdt:Transform="Insert" />
    <add key="StreamingClientDocumentService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeStreamingClientDocumentService" xdt:Transform="Insert" />
  </appSettings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    



  </system.web>
</configuration>