<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <DBSubscriptionStorageConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=pbsprod2sql\prod2;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>
	
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="BusinessSafe.Messages.Emails" Endpoint="businesssafe.messagehandlers.emails@pbsservicebus1" xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
      <add Messages="BusinessSafe.Messages" Endpoint="businesssafe.messagehandlers@pbsservicebus1" xdt:Transform="Replace" xdt:Locator="Match(Messages)" />
      <add Messages="Peninsula.Online.Messages" Endpoint="peninsula.online.messagehandlers@pbsservicebus1"  xdt:Transform="Replace" xdt:Locator="Match(Messages)" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
	<appSettings>
		<add key="config_file" value="LIVE" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="DocumentTypeService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeDocumentTypeService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="DocumentSubTypeService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeDocumentSubTypeService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="ClientDocumentServiceType" value="BusinessSafe.WebSite.WebsiteMoqs.FakeClientDocumentService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="StreamingClientDocumentService" value="BusinessSafe.WebSite.WebsiteMoqs.FakeStreamingClientDocumentService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="ClientDetailsServices.Rest.BaseUrl" value="http://clientdetailsservicesrest/restservice/v1.0/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		
    <add key ="SQLReportsSuffix" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key ="SqlReportsService" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key ="FeatureSwitch_FireRiskAssessments" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Impersonate_Allowed_Url_Referrer_Host" value="peninsulaonlinemaintenance" xdt:Transform="Insert"/>
    <add key="AccidentInvestigationForm.ClientDocumentationId" value="2843914" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OnlineAccidentReportForm.ClientDocumentationId.GB" value="2868964" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OnlineAccidentReportForm.ClientDocumentationId.NI" value="2906242" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OnlineAccidentReportForm.ClientDocumentationId.ROI" value="2906234" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="OnlineAccidentReportForm.ClientDocumentationId.IOM" value="2906230" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.GB"         value= "2843913" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.IoM"        value= "" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.NI"         value= "2908927" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.ROI"        value= "2908926" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.Guernsey"   value= "" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.Jersey"     value= "" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		
		<authentication xdt:Transform="Remove" /> <!-- Authentication in machine.config for staging and live. -->
    
  </system.web>
	<system.serviceModel>
		<client>
      <endpoint address="http://pbsdoclibrary:8056/DocumentLibraryService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default" contract="DocumentLibraryService.IDocumentLibraryService" name="DocumentLibraryService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://pbsdoclibrary:8056/StreamingDocumentLibraryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="StreamingDocumentLibraryService.IStreamingDocumentLibraryService" name="StreamingDocumentLibraryService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://clientdocumentationservice/StreamingClientDocumentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="StreamingClientDocumentService.IStreamingClientDocumentService" name="StreamingClientDocumentServiceClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://clientdocumentationservice/ClientDocumentService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default" contract="ClientDocumentService.IClientDocumentService" name="ClientDocumentService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://clientdocumentationservice/DocumentTypeService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default" contract="DocumentTypeService.IDocumentTypeService" name="DocumentTypeService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://clientdocumentationservice/DocumentSubTypeService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="DocumentSubTypeService.IDocumentSubTypeService" name="DocumentSubTypeService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://peninsulaonlinewebservices/NewRegistrationRequestService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Default" contract="PeninsulaOnline.INewRegistrationRequestService" name="BasicHttpBinding_INewRegistrationRequestService" xdt:Transform="Replace" xdt:Locator="Match(name)"  />
    </client>
	</system.serviceModel>
  <elmah xdt:Transform="Insert">
    <security allowRemoteAccess="0" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" applicationName="BusinessSafe" connectionString="Initial Catalog=ELMAH;Data Source=PBSITSQL\it_database;UID=intranetadmin;PWD=intadpas;Min Pool Size=2;Max Pool Size=60;Connect Timeout=2;"   />
  </elmah>
</configuration>