USE [BusinessSafe]
GO

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'ControlSystem' AND COLUMN_NAME = 'Url')
BEGIN
	ALTER TABLE [ControlSystem]
	DROP COLUMN [Url]	
END
GO	

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'ControlSystem' AND COLUMN_NAME = 'DocumentLibraryId')
BEGIN
	ALTER TABLE [ControlSystem]
	ADD [DocumentLibraryId] [bigint] NULL		
END
GO	

--//@UNDO 

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'ControlSystem' AND COLUMN_NAME = 'Url')
BEGIN
	ALTER TABLE [HazardousSubstanceRiskAssessment]
	ADD [Url] varchar(150) NULL
END
GO

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'ControlSystem' AND COLUMN_NAME = 'DocumentLibraryId')
BEGIN
	ALTER TABLE [HazardousSubstanceRiskAssessment]
	DROP COLUMN [DocumentLibraryId]
END
GO
