USE [BusinessSafe]
GO

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'User' AND COLUMN_NAME = 'IsActivated')
BEGIN
	ALTER TABLE [User]
	ADD [IsActivated] [bit] NULL	
END
GO	

UPDATE [User] SET [IsActivated] = 1 WHERE [IsActivated] IS NULL
GO

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'User' AND COLUMN_NAME = 'IsActivated' AND IS_NULLABLE = 'NO')
BEGIN
	ALTER TABLE [User]
	ALTER COLUMN [IsActivated] [bit] NOT NULL
END
GO
--//@UNDO 

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'User' AND COLUMN_NAME = 'IsActivated')
BEGIN
	ALTER TABLE [User]
	DROP COLUMN [IsActivated]
END
GO