USE [BusinessSafe]
GO

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Task' AND COLUMN_NAME = 'RiskAssessmentReviewId')
BEGIN
	ALTER TABLE [Task]
	ADD [RiskAssessmentReviewId] [bigint] NULL
	
END
GO	

--//@UNDO 

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Task' AND COLUMN_NAME = 'RiskAssessmentReviewId')
BEGIN
	ALTER TABLE [Task]
	DROP COLUMN [RiskAssessmentReviewId]
END
GO