USE [BusinessSafe]
GO

IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Task' AND COLUMN_NAME = 'RiskAssessmentHazardId' AND IS_NULLABLE = 'YES')
BEGIN
	ALTER TABLE [Task]
	ALTER COLUMN [RiskAssessmentHazardId] [bigint] NULL
	
END
GO	

--//@UNDO 

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'Task' AND COLUMN_NAME = 'RiskAssessmentHazardId' AND IS_NULLABLE = 'NO')
BEGIN
	ALTER TABLE [Task]
	ALTER COLUMN [RiskAssessmentHazardId] [bigint] NOT NULL
END
GO