<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <applicationSettings xdt:Transform="Replace">
    <BusinessSafe.API.IntegrationTests.Settings1>
      <setting name="URL" serializeAs="String">
        <value>https://8106</value>
      </setting>
    </BusinessSafe.API.IntegrationTests.Settings1>
  </applicationSettings>
  <connectionStrings xdt:Transform="Insert">
    <remove name="BusinessSafe" />
    <add name="BusinessSafe" connectionString="Data Source='pbsprod2sql\prod2';Initial Catalog=BusinessSafe;Min Pool Size=2;Max Pool Size=60;Connect Timeout=60;User Id=intranetadmin;Password=intadpas;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>