@model BusinessSafe.WebSite.Areas.AccidentReports.ViewModels.CreateAccidentRecordSummaryViewModel

@{
    ViewBag.Title = "Summary";
}

<div class="container">
    @Html.Partial("_Form", Model)
</div>
@section JavaScriptSection
{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}