<div class="hide">
    <div id="dialogCopyRiskAssessment" title="<span id='warning'></span>Copy General Risk Assessment!">
        <div class="well form-horizontal">
            <span>Reference For New Risk Assessment: </span>
            <input type="text" id="CopyRiskAssessmentNewReference" />
        </div>
    </div>
</div>
