<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="BusinessSafe.Messages.Emails" Endpoint="businesssafe.messagehandlers.emails@pbsservicebus1" xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <appSettings>
    <add key="serviceName" value="BusinessSafeEscalationService" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
</configuration>