@using BusinessSafe.WebSite.Areas.Company.ViewModels
@using BusinessSafe.WebSite.AuthenticationService

<h3>Distribution List</h3>
<div id="riskAssessors" class="well form-inline">
    <div id="controls" class="clearfix">
  
        <div class="pull-right">
           
        </div>
    </div> 
</div>
