@model BusinessSafe.WebSite.Areas.GeneralRiskAssessments.ViewModels.ControlMeasure
        <tr>
            <td>@Html.DisplayFor(x => x.Description)</td>
            <td>@Html.DisplayFor(x => x.ControlMeasureAddedToRiskAssessment)</td>
        </tr>