<h3>
    Company Logo</h3>
<form class="well">
<label>
    Select and upload your company logo.</label>
<input type="text" class="span3" placeholder="find company logo file…">
<button type="submit" class="btn" disabled="disabled">
    Browse</button>
<div class="alert alert-warning">
    Feature coming soon.</div>
</form>
