<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <DBSubscriptionStorageConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=UATSQL2;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>
</configuration>
