<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <DBSubscriptionStorageConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=pbsprod2sql\prod2;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="BusinessSafe.Messages.Emails" Endpoint="businesssafe.messagehandlers.emails@pbsservicebus1" xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
    <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://clientdocumentationservice/ClientDocumentService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Default" contract="ClientDocumentService.IClientDocumentService" name="WSHttpBinding_IClientDocumentService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://clientdocumentationservice/SecurityService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService" contract="SecurityService.ISecurityService" name="BasicHttpBinding_ISecurityService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientDetailsServices.Rest.BaseUrl" value="http://clientdetailsservicesrest/restservice/v1.0/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
