<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <DBSubscriptionStorageConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=UATSQL2\uat;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="BusinessSafe.Messages.Emails" Endpoint="businesssafe.messagehandlers.emails@UATBSO1" xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <appSettings>
    <add key="ClientDetailsServices.Rest.BaseUrl" value="http://uatbso1:8072/restservice/v1.0/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Insert">
    </customErrors>
  </system.web>
</configuration>
