<style>
    div.container {
        width: 100%;
        margin: 0px;
        line-height: 150%;
    }
    
    div.left {
        float: left;
        width: 640px;
        margin: 0;
    }
    
    div.left p 
    {
        line-height: 1.2em;
        color: #999999;
        font-family: Arial;
        font-size: 0.75em;
    }

    div.right 
    {
        float: right;
    }

    div.right img {
        height: 100px;
        float: left;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid rgb(140, 20, 30);
        padding: 0;
    }
    
    div.top {
        text-align: center;
    }
    
    div.top h4 
    {
        font-family: Arial;
        color: rgb(140, 20, 30);
        text-transform:uppercase;
        margin: 0px;
    }
    
</style>


<div class="container">
    <div class="top">
        <h4>Employment Law | Health & Safety | EAP | TAX</h4>
        <hr/>
    </div>
    <div class="left">
        <p>
            Directors: F.Done, P.E.Done, A.Sutcliffe, N.Pilling, P.Swift, A.Price, J.English, G.Ford.<br/>
            Registered Office: The Peninsula, 2 Cheetham Hill Road, Manchester, M4 4FB. Registered in England No. 1702759<br/>
            Peninsula Business Services Ltd is authorised and regulated by the Financial Services Authority for the sale of <br/>non-investment insurance contracts (Ref No.468574)
        </p>
    </div>
    <div class="right">
        <img src="../images/bsi18001.png" />
        <img src="../images/iso27001.png" />
        <img src="../images/bsi9001.png" />
    </div>
</div>



