  <div class="centredContent">
      <div id="RiskAssessmentAdviceLine"><i class="phoneIcon"></i><strong>Need help completing your Risk Assessment? Call our 24/7 Advice Line on UK: 0844 892 2772 or ROI: 01 855 5050</strong></div>
  </div>
