<div id="businesssafecookieholder" style="display:none">
    <div class="container" id="businesssafecookiewrapper">
        <div class="row">
            <div class="span2" id="businesssafecookiesheader">
                <h3> Cookies on the Business Safe website </h3>
            </div>
            <div class="span9" id="businesssafecookiemessage">
                <p> We use cookies to ensure that we give you the best experience on our website. If you continue without changing your settings, we'll assume that you are happy to receive all cookies on the BusinessSafe website. </p>
                <div class=" pull-right">
                    <a class="btn btn-primary" href="#" id="businesssafecookiecontinue"><i class="icon-ok icon-white"></i> Continue</a>
                    <a class="btn btn-warning" href="#" id="businesssafecookiecancel"><i class="icon-remove icon-white"></i> Cancel</a>
                </div>
            </div>
        </div>        
    </div>
</div>

