<div class="hide matchingNamesDisplay">
    <div class="alert alert-block">
        <h4 class="alert-heading">
            We have the found the following potential matches;</h4>
        <ul>
        </ul>
        <br />
        <div class="matchingNameMessage">
        </div>
    </div>
</div>
