<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<DBSubscriptionStorageConfig UpdateSchema="true">
		<NHibernateProperties>
			<add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=UATSQL2\uat;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
		</NHibernateProperties>
	</DBSubscriptionStorageConfig>

	<TimeoutPersisterConfig UpdateSchema="true">
		<NHibernateProperties>
			<add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=UATSQL2\uat;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
		</NHibernateProperties>
	</TimeoutPersisterConfig>

	<NHibernateSagaPersisterConfig UpdateSchema="true">
		<NHibernateProperties>
			<add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=UATSQL2\uat;UID=intranetadmin;PWD=intadpas;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
		</NHibernateProperties>
	</NHibernateSagaPersisterConfig>
  
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Peninsula.Online.Messages" Endpoint="peninsula.online.messagehandlers@UATBSO1"  xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>