<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <DBSubscriptionStorageConfig UpdateSchema="true">
        <NHibernateProperties>
            <add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=pbsprod2sql\prod2;Integrated Security=true;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
        </NHibernateProperties>
    </DBSubscriptionStorageConfig>

    <TimeoutPersisterConfig UpdateSchema="true">
        <NHibernateProperties>
            <add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=pbsprod2sql\prod2;Integrated Security=true;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
        </NHibernateProperties>
    </TimeoutPersisterConfig>

    <NHibernateSagaPersisterConfig UpdateSchema="true">
        <NHibernateProperties>
            <add Key="connection.connection_string" Value="Initial Catalog=NServiceBus;Data Source=pbsprod2sql\prod2;Integrated Security=true;Connect Timeout=20;" xdt:Transform="Replace" xdt:Locator="Match(Key)"/>
        </NHibernateProperties>
    </NHibernateSagaPersisterConfig>

    <UnicastBusConfig>
        <MessageEndpointMappings>
            <add Messages="BusinessSafe.Messages.Events.EmployeeChecklistEmailGenerated, BusinessSafe.Messages" Endpoint="businesssafe.messagehandlers@pbsservicebus1"  xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
            <add Messages="BusinessSafe.Messages.Events.EmployeeChecklistCompleted, BusinessSafe.Messages" Endpoint="businesssafe.messagehandlers@pbsservicebus1" xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
            <add Messages="BusinessSafe.Messages.Events.TaskAssigned, BusinessSafe.Messages" Endpoint="businesssafe.messagehandlers.emails@pbsservicebus1" xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
            <add Messages="BusinessSafe.Messages.Events.ReviewAssigned, BusinessSafe.Messages" Endpoint="businesssafe.messagehandlers.emails@pbsservicebus1" xdt:Transform="Replace" xdt:Locator="Match(Messages)"/>
        </MessageEndpointMappings>
    </UnicastBusConfig>
  <system.serviceModel>
    <client>
      <endpoint address="http://pbsdoclibrary:8056/DocumentLibraryService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDocumentLibraryService" contract="DocumentLibraryService.IDocumentLibraryService" name="DocumentLibraryService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
      <endpoint address="http://clientdocumentationservice/ClientDocumentService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClientDocumentService" contract="ClientDocumentService.IClientDocumentService" name="ClientDocumentService" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
    <appSettings>
        <add key="SendExternalEmail" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
</configuration>