<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="BSOGuid" value="68E64A31-FEE8-4D5A-958C-2F2CE3C1BBB1" />
    <add key="FeatureSwitch_SqlReports_PRA" value="true" />
    <add key="FeatureSwitch_PersonalRiskAssessments" value="false" />
    <add key="FeatureSwitchOverride_UserEmails" value="paul.cooke@hotmail.com; neil.driscoll@google.com;" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.GB" value="21" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.IoM" value="" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.NI" value="22" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.ROI" value="20" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.Guernsey" value="" />
    <add key="AccidentRecordGuidanceNote.ClientDocumentationID.Jersey" value="" />
  </appSettings>
  <connectionStrings></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>