@using Cassette.Views
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StyleSheetSection
{
    @RenderSection("StyleSheetSection", false)
}
<section>
    <span class="legend">Responsibilities</span>
    <div class="content">
        <div class="tabs">
            @RenderBody()
        </div>
    </div>
</section>
@section JavaScriptSection
{
    @{
        @Bundles.RenderScripts()  
    }

    @RenderSection("JavaScriptSection", false)
}