<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DevDB" connectionString="Data Source='localhost\SQL2008R2';Initial Catalog=BusinessSafe;Min Pool Size=2;Max Pool Size=60;Connect Timeout=60;User Id=intranetadmin;Password=intadpas;" providerName="System.Data.SqlClient" />
    <add name="UATDB" connectionString="Data Source='UATSQL2\UAT';Initial Catalog=BusinessSafe;Min Pool Size=2;Max Pool Size=60;Connect Timeout=60;User Id=intranetadmin;Password=intadpas;" providerName="System.Data.SqlClient" />
    <add name="LiveDB" connectionString="Data Source='PBSPROD2SQL\PROD2';Initial Catalog=BusinessSafe;Min Pool Size=2;Max Pool Size=60;Connect Timeout=60;User Id=intranetadmin;Password=intadpas;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmployeeImportFileDirectory" value="C:\EmployeeImportFiles" />
    <add key="ClientDetailsServices.Rest.BaseUrl" value="http://clientdetailsservicesrest/restservice/v1.0/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>