@using BusinessSafe.WebSite.AuthenticationService
@using BusinessSafe.WebSite.Extensions
@using Cassette.Views
@model BusinessSafe.WebSite.Areas.Employees.ViewModels.EmployeeSearchViewModel
@{
    ViewBag.Title = "Terms of Service";
}
<div>
    <section>
        <span class="legend">Terms Of Service</span>        
        <div class="content">      
            <div><H1>Terms of Use</H1></div>
            <div>
                <p>Welcome to <strong>BusinessSafe Online</strong> </p>
                <p>Thank you for using <strong>BusinessSafe Online</strong> which is provided by Peninsula Business Services Limited (“Peninsula”), located at The Peninsula, Manchester, M4 4FB, UK. </p>
                <p>By using <strong>BusinessSafe Online</strong>, you are agreeing to these terms. Please read them carefully. </p>
            </div>

            <div>
                                                                                                                                                                                                                                                                                                <ol>
                <li><strong>Using BusinessSafe Online</strong>
                    <ol>
                        <li><p>This is a licence service. <strong>BusinessSafe Online</strong> and associated services will be unavailable if you do not renew your licence or maintain the payments as stated on the contract.</p></li>
                        <li><p>Do not misuse <strong>BusinessSafe Online</strong>. For example, do not interfere with <strong>BusinessSafe Online</strong> or try to access <strong>BusinessSafe Online</strong> using a method other than the interface and the instructions that we provide. You may use <strong>BusinessSafe Online</strong> only as permitted by law. We may suspend or stop providing <strong>BusinessSafe Online</strong> to you if you do not comply with our terms or policies or if we are investigating suspected misconduct. </p></li>
                        <li><p>Using <strong>BusinessSafe Online</strong> does not give you ownership of any intellectual property rights in it. You may not use content from <strong>BusinessSafe Online</strong> unless you obtain permission from Peninsula or are otherwise permitted by law. These terms grant you the right to use branding or logos but only in the appropriate place within <strong>BusinessSafe Online</strong> Company Defaults settings page. </p></li>
                        <li><p>In connection with your use of <strong>BusinessSafe Online</strong> we may send you service announcements, administrative messages and other information. </p></li>
                    </ol>                                       
                </li>

                <li><strong>Your BusinessSafe Online Account </strong>
                    <ol>
                        <li><p>You need a <strong>BusinessSafe Online</strong> account in order to use it. Your account is created for you by Peninsula when the contract commences in line with “The Terms and Conditions” on the contract. If you are an administrator of your <strong>BusinessSafe Online</strong> account, you may not change the registration information we hold about you.</p></li>
                        <li><p>If you learn of any unauthorised use of your password or account, or if you suspect that someone else knows or has changed your password, please reset it so nobody else can sign in to your <strong>BusinessSafe Online</strong> account.</p></li>
                        <li><p>If you're unable to reset your <strong>BusinessSafe Online</strong> account password, or you can't sign in to your account, please email <a href="mailto:support@peninsula-online.com">support@peninsula-online.com</a> outlining the problem and including a phone number that Peninsula can ring you back on. Under these circumstances, you will be asked some security questions to prove your identity.</p></li>                      
                    </ol>
                </li>

                <li><strong>Privacy and Copyright Protection</strong> 
                    <ol>
                        <li><p>The <strong>BusinessSafe Online</strong> data protection statement explains how we treat your personal and your employees data and protect your privacy when you use <strong>BusinessSafe Online</strong>. By using <strong>BusinessSafe Online</strong>, you agree that Peninsula can use such data in accordance with the data protection statement.</p></li>
                        <li><p>Copyright of all materials provided is reserved by Peninsula without whose written permission it may not be reproduced or modified.</p></li>
                    </ol>
                </li>

                <li><strong>Your Content in BusinessSafe Online</strong>
                    <ol>
                        <li><p><strong>BusinessSafe Online</strong> allows you to submit content which is stored in its document library. You retain ownership of any intellectual property rights that you hold in that content. It is a condition of use of <strong>BusinessSafe Online</strong> that you do not upload content (for example music or videos) for which you do not hold the copyright.</p></li>
                    </ol>
                </li>

                <li><strong>Modifying BusinessSafe Online</strong>
                    <ol>
                        <li><p>We are constantly changing and improving <strong>BusinessSafe Online</strong>. We may add or remove functionalities or features and we may suspend or stop a function altogether. </p></li>
                        <li><p>You can stop using <strong>BusinessSafe Online</strong> at any time but cancellation must be completed in line with “The Terms and Conditions” on the contract.</p></li>
                        <li><p>Peninsula may add or create new limits to <strong>BusinessSafe Online</strong> at any time.</p></li> 
                        <li><p>We believe that you own your data, and preserving your access to such data is important. If we discontinue <strong>BusinessSafe Online</strong>, where reasonably possible, we will give you reasonable advance notice and a chance to remove information from it.</p></li>
                    </ol>
                </li>

                <li><strong>Our Warranties and Disclaimers</strong>
                    <ol>
                        <li><p>We provide <strong>BusinessSafe Online</strong> using a commercially reasonable level of skill and care and we hope that you will benefit from using it. Other than expressly set out in these terms of use neither Peninsula nor its suppliers or distributors makes any specific promises about <strong>BusinessSafe Online</strong>.</p></li>
                    </ol>
                </li>

                <li><strong>Liability for our Services</strong>
                    <ol>
                        <li><p>Where permitted by law, Peninsula will not be responsible for lost profits, revenues or data, financial losses or indirect, special, consequential, exemplary or punitive damages, arising out of any breach of our obligations, save for negligence or fault on our part. </p></li>
                        <li><p>To the extent permitted by law, the total liability of Peninsula for any claims under these terms, including for any implied warranties, is limited to the amount that you paid us to use <strong>BusinessSafe Online</strong> (or, if we choose, to supplying you with <strong>BusinessSafe Online</strong> again). </p></li>
                        <li><p>In all cases, Peninsula will not be liable for any loss or damage that is not reasonably foreseeable.</p></li>                        
                    </ol>
                </li>

                <li><strong>Business users of BusinessSafe Online</strong> 
                    <ol>
                        <li><p>1.	If you are using <strong>BusinessSafe Online</strong> on behalf of a business, that business accepts these terms. It will hold harmless and indemnify Peninsula and its affiliates, officers, agents and employees from any claim, action or proceedings arising from or related to the use of <strong>BusinessSafe Online</strong> or violation of these terms, including any liability or expense arising from claims, losses, damages, judgements, litigation costs and legal fees.</p></li>
                    </ol>
                </li>

                <li><strong>About these Terms</strong>
                    <ol>
                        <li><p>We may modify the Terms of Use that apply to <strong>BusinessSafe Online</strong>.</p></li>
                        <li><p>In the event of a change you will be notified via the “My Account” section of <strong>BusinessSafe Online</strong> 14 days prior to the change.</p></li>
                    </ol>
                </li>

                <li><strong>14 Day Free Trial</strong>
                    <ol>
                        <li><p>14 day free trials are only available to new clients to the <strong>BusinessSafe Online</strong> service. Previous clients of <strong>BusinessSafe Online</strong> do not qualify for a free trial. You must have a valid contract to access the free trial. Your 14 day free trial period will commence on the date the contract is accepted.</p></li>
                    </ol>
                </li>

                <li><strong>Jurisdiction</strong>
                    <ol>
                        <li><p>The contract is governed by the Law of England and Wales whose courts shall have exclusive jurisdiction.</p></li>
                    </ol>
                </li>
            </ol>
            </div>
        </div>       
    </section>
</div>

@section JavaScriptSection
{
    @{
        Bundles.Reference("employees");   
        @Bundles.RenderScripts()  
    }
    <script type="text/javascript">
       
    </script>
}
